{% extends "base.html" %}

{% block content %}
    <form method = 'post'>
      <table>
        <tbody>
          <tr>
            <td>
              <label for='u_name'>Username</label>
            </td>
            <td>
              <input name='u_name' type='username' value='{{username}}'>
              <span class='error'>{{u_error}}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label for='p_word'>Password</label>
                </td>  
            <td>
              <input name='p_word' type='password' value=''>
              <span class='error'>{{p_error}}</span>
            </td> 
          </tr>
          <tr>
            <td>
              <label for='verify'>Verify Password</label>
            </td>
            <td>
              <input name='verify' type='password' value=''>
              <span class='error'>{{v_pass_error}}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label for='email'>Email (optional)</label>
            </td>
            <td>
              <input type='text' name='emailaddress' value='{{email}}'>
              <span class='error'>{{email_error}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <input type='submit'>
    </form>

{% endblock %}